{% extends '_base.html' %}

{% block title %}Change Password{% endblock title %}

{% block content %}
  <h1>{% if token_fail %}Bad Token{% else %}Change Password{% endif %}</h1>

  {% if token_fail %}
    <p>The password reset link was invalid. Perhaps it has already been used?  Please request a <a href="{% url 'account_reset_password' %}">new password reset</a>.</p>
  {% else %}
    {% if form %}
    <form method="POST" action="." class="password-reset-form">
      {% csrf_token %}
      {{ form.non_field_errors }}
      
      <div class="fieldWrapper">
        <div class="help-text">
          {{ form.new_password1.help_text }}
        </div>
        {{ form.new_password1.errors }}
        <label for="{{ form.new_password1.id_for_label }}">New Password:</label>
        {{ form.new_password1 }}
      </div>
      
      <div class="fieldWrapper">
        {{ form.new_password2.errors }}
        <label for="{{ form.new_password2.id_for_label }}">Confirm Password:</label>
        {{ form.new_password2 }}
      </div>
      
      <button type="submit">Reset Password</button>
    </form>
    {% else %}
        <p>Your password is now changed.</p>
    {% endif %}
  {% endif %}
{% endblock content%}