{% load static %}
<footer class="et-l et-l--footer">
    <div class="et_builder_inner_content et_pb_gutters3">
      <div
        class="et_pb_section et_pb_section_0_tb_footer et_pb_with_background et_section_regular"
      >
        <div class="et_pb_row et_pb_row_0_tb_footer et_pb_row_4col">
          <div
            class="et_pb_column et_pb_column_1_4 et_pb_column_0_tb_footer et_pb_css_mix_blend_mode_passthrough"
          >
            <div
              class="et_pb_module et_pb_image et_pb_image_0_tb_footer"
            >
              <span class="et_pb_image_wrap"
                ><img
                  loading="lazy"
                  decoding="async"
                  width="363"
                  height="130"
                  src="{% static 'images/TS-logo.png' %}"
                  alt=""
                  title="TS-logo"
                  class="wp-image-36"
              /></span>
            </div>
            <div
              class="et_pb_module et_pb_text et_pb_text_0_tb_footer et_pb_text_align_left et_pb_bg_layout_light"
            >
              <div class="et_pb_text_inner">
                <p>
                  Thrive &amp; Shine is a wellbeing hub, supporting
                  employers and business managers with their employee
                  mental health, wellbeing, culture and change.
                </p>
              </div>
            </div>
          </div>
          <div
            class="et_pb_column et_pb_column_1_4 et_pb_column_1_tb_footer et_pb_css_mix_blend_mode_passthrough"
          >
            <div
              class="et_pb_module et_pb_text et_pb_text_1_tb_footer et_pb_text_align_left et_pb_bg_layout_light"
            >
              <div class="et_pb_text_inner">
                <p style="color: #ffffff"><b>Our Company</b></p>
                <p>
                  <a href="{% url 'home' %}">Home</a>
                </p>
                <p>
                  <a href="{% url 'bessie' %}"
                    >Bessie</a
                  >
                </p>
                <p>
                  <a href="{% url 'mini_bessie' %}"
                    >Mini Bessie</a
                  >
                </p>
                <p>
                  <a href="{% url 'our_services' %}"
                    >Our Services</a
                  >
                </p>
                <p>
                  <a href="{% url 'quiz' %}"
                    >Take the quiz</a
                  >
                </p>
                <p>
                  <a href="{% url 'case_studies' %}"
                    >Case Studies</a
                  >
                </p>
                <!-- <p>
                  <a href="#"
                    >Contact Us</a
                  >
                </p> -->
              </div>
            </div>
          </div>
          <div
            class="et_pb_column et_pb_column_1_4 et_pb_column_2_tb_footer et_pb_css_mix_blend_mode_passthrough"
          >
            <div
              class="et_pb_module et_pb_text et_pb_text_2_tb_footer et_pb_text_align_left et_pb_bg_layout_light"
            >
              <div class="et_pb_text_inner">
                <p>
                  <span style="color: #ffffff"
                    ><strong>Terms</strong></span
                  >
                </p>
                <p>
                  <a href="{% url 'tAndC' %}"
                    >Terms &amp; Conditions</a
                  >
                </p>
                <!-- <p>
                  <a href="https://bessietech.com/?page_id=861"
                    >Privacy Policy</a
                  >
                </p> -->
                <p>&nbsp;</p>
              </div>
            </div>
          </div>
          <div
            class="et_pb_column et_pb_column_1_4 et_pb_column_3_tb_footer et_pb_css_mix_blend_mode_passthrough et-last-child"
          >
            <div
              class="et_pb_module et_pb_text et_pb_text_3_tb_footer et_pb_text_align_left et_pb_bg_layout_light"
            >
              <div class="et_pb_text_inner">
                <p style="color: #ffffff"><b>Contact Us</b></p>
                <p>
                  <a href="mailto:info@thrive-and-shine.co.uk"
                    >info@thrive-and-shine.co.uk</a
                  >
                </p>
                <p>+44 7701 339 125</p>
                <div>Innovation Centre 6</div>
                <p>
                  <span>Smart Innovation Hub</span><br /><span
                    >Denise Coates Foundation Building</span
                  ><br /><span>Keele University,&nbsp;</span>
                </p>
                <div>ST5 5NS</div>
                <p>United Kingdom</p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div
        class="et_pb_section et_pb_section_1_tb_footer et_pb_with_background et_section_regular"
      >
        <div class="et_pb_row et_pb_row_1_tb_footer">
          <div
            class="et_pb_column et_pb_column_4_4 et_pb_column_4_tb_footer et_pb_css_mix_blend_mode_passthrough et-last-child"
          >
            <div
              class="et_pb_module et_pb_text et_pb_text_4_tb_footer et_pb_text_align_left et_pb_bg_layout_light"
            >
              <div class="et_pb_text_inner">
                Copyright | BESSIE | 2025
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </footer>