/*! CSS Used from: Embedded */
div,
h1,
h4,
span {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  vertical-align: baseline;
  background: transparent;
}
:focus {
  outline: 0;
}
h1,
h4 {
  color: #333;
  padding-bottom: 10px;
  line-height: 1em;
  font-weight: 500;
}
h1 {
  font-size: 30px;
}
h4 {
  font-size: 18px;
}
* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
.et_pb_module.et_pb_text_align_left {
  text-align: left;
}
.et_pb_css_mix_blend_mode_passthrough {
  mix-blend-mode: unset !important;
}
.et_pb_module,
.et_pb_with_background {
  position: relative;
  background-size: cover;
  background-position: 50%;
  background-repeat: no-repeat;
}
.et_parallax_bg_wrap {
  overflow: hidden;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}
.et_parallax_bg {
  background-repeat: no-repeat;
  background-position: top;
  background-size: cover;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: block;
}
.et_pb_section_parallax .et_pb_parallax_css {
  background-attachment: fixed;
}
.et_pb_module {
  -webkit-animation-timing-function: linear;
  animation-timing-function: linear;
  -webkit-animation-duration: 0.2s;
  animation-duration: 0.2s;
}
@media (min-width: 981px) {
  .et_pb_section div.et_pb_row .et_pb_column .et_pb_module:last-child {
    margin-bottom: 0;
  }
}
@media (max-width: 980px) {
  .et_pb_column .et_pb_module {
    margin-bottom: 30px;
  }
  .et_pb_row .et_pb_column .et_pb_module:last-child {
    margin-bottom: 0;
  }
}
/*! CSS Used from: Embedded */
@media (min-width: 981px) {
  .et_pb_gutters3 .et_pb_column {
    margin-right: 5.5%;
  }
  .et_pb_gutters3 .et_pb_column_4_4 {
    width: 100%;
  }
  .et_pb_gutters3 .et_pb_column_4_4 .et_pb_module {
    margin-bottom: 2.75%;
  }
}
.et_pb_section {
  position: relative;
  background-color: #fff;
  background-position: 50%;
  background-size: 100%;
  background-size: cover;
}
@media (min-width: 981px) {
  .et_pb_section {
    padding: 4% 0;
  }
}
@media (max-width: 980px) {
  .et_pb_section {
    padding: 50px 0;
  }
}
.et_pb_row {
  width: 80%;
  max-width: 1080px;
  margin: auto;
  position: relative;
}
.et_pb_row:after {
  content: "";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0;
  width: 0;
}
.et_pb_column {
  float: left;
  background-size: cover;
  background-position: 50%;
  position: relative;
  z-index: 2;
  min-height: 1px;
}
.et_pb_row .et_pb_column.et-last-child,
.et_pb_row .et_pb_column:last-child {
  margin-right: 0 !important;
}
.et_pb_column,
.et_pb_row {
  background-size: cover;
  background-position: 50%;
  background-repeat: no-repeat;
}
@media (min-width: 981px) {
  .et_pb_row {
    padding: 2% 0;
  }
  .et_pb_row .et_pb_column.et-last-child,
  .et_pb_row .et_pb_column:last-child {
    margin-right: 0 !important;
  }
}
@media (max-width: 980px) {
  .et_pb_row {
    max-width: 1080px;
  }
  .et_pb_row {
    padding: 30px 0;
  }
  .et_pb_column {
    width: 100%;
    margin-bottom: 30px;
  }
  .et_pb_row .et_pb_column.et-last-child,
  .et_pb_row .et_pb_column:last-child {
    margin-bottom: 0;
  }
}
@media (max-width: 479px) {
  .et_pb_column {
    width: 100% !important;
  }
}
.et_pb_text {
  word-wrap: break-word;
}
.et_pb_text > :last-child {
  padding-bottom: 0;
}
.et_pb_text_inner {
  position: relative;
}
/*! CSS Used from: Embedded */
@media only screen and (min-width: 1350px) {
  .et_pb_row {
    padding: 27px 0;
  }
  .et_pb_section {
    padding: 54px 0;
  }
}
div.et_pb_section.et_pb_section_0 {
  background-image: linear-gradient(
    -117deg,
    #01012c 0%,
    #0d0c22 100%
  ) !important;
}
.et_pb_section_0 {
  height: 280px;
}
.et_pb_section_0.et_pb_section {
  padding-top: 50px;
  padding-bottom: 0px;
}
.et_pb_row_0 {
  max-width: 800px;
}
.et_pb_text_0 h4 {
  font-family: "Roboto", Helvetica, Arial, Lucida, sans-serif;
  font-weight: 600;
  text-transform: uppercase;
  font-size: 26px;
  color: #fb6512 !important;
  letter-spacing: 1px;
  line-height: 1.5em;
  text-align: center;
}
.et_pb_text_0,
.et_pb_text_1 {
  margin-bottom: 0px !important;
}
.et_pb_text_1 h1 {
  font-family: "Roboto", Helvetica, Arial, Lucida, sans-serif;
  font-weight: 500;
  font-size: 80px;
  color: #ffffff !important;
  line-height: 1.1em;
  text-align: center;
}
@media only screen and (max-width: 980px) {
  .et_pb_text_1 h1 {
    font-size: 42px;
  }
}
@media only screen and (max-width: 767px) {
  .et_pb_text_1 h1 {
    font-size: 26px;
  }
}