{% extends 'bessie/dashboard.html' %}
{% load bessie_extras %}

{% block content %}
<div class="section">
	{% comment %} BESSIE COMPANY ADMIN / NOT SUPER USER {% endcomment %}
	{% if user.bessie_admin %}
		<h2 class="section-title">Change Company</h2>
		{% if available_companies %}
			<ul style="margin-bottom: 20px;">
				{% for available_company in available_companies %}
					<li>
						{% if available_company.id == company.id %}
							<strong style="color:#747474; font-weight: bold;">{{ available_company.name }} (Selected)</strong>
						{% else %}
							<a href="{% url 'select_company' available_company.id %}" style="color: #3b82f6; text-decoration: none; background: transparent; padding: 0; margin: 0;">{{ available_company.name }}</a>
						{% endif %}
					</li>
				{% endfor %}
			</ul>
		{% else %}
			<p>No companies available.</p>
		{% endif %}


	  <h2 class="section-title">View {{ company.name }} results</h2>
		<a href="{% url 'company_results' company.id %}">View Company results</a>

		<br />
		{% if company.teams %}
			View result by team:
			<br/>
			{% for team in company.teams %}
				<a href="{% url 'company_results' company.id %}?team={{ team }}">{{ team|format_team_name }}</a>
			{% endfor %}
		{% endif %}
	{% else %}
		{% comment %} NORMAL COMPANY ADMIN {% endcomment %}
	  {% if company.results_visible %}
		  <div>
		    <a href="{% url 'company_results' company.id %}">View Company results</a>
		    <br />
		    View result by team:
		    <br />
		    {% for team in company.teams %}
		    	<a href="{% url 'company_results' company.id %}?team={{team}}">{{ team|format_team_name }}</a>
		    {% endfor %}
		  </div>
		  {% if company.results_video %}
			  <video width="854" height="480" controls>
			    <source src="{{ company.results_video.url }}" type="video/mp4">
			  </video>
		  {% endif %}
	  {% else %}
	  	<p>Your results are not ready yet. You will be notified when you can view the results.</p>
	  {% endif %}
	{% endif %}
</div>
{% endblock %}